{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Calculateur de chasse - NAW{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
</div>
{% endblock %}

{% block content %}
    <h3>Estimateur de difficulté</h3>
    {{ wtf.quick_form(chasse_form, form_type="basic", button_map={'submit': 'primary'}) }}
    {{ chasse_form.result }}
    <h3>Optimiseur de chasses</h3>
    {{ wtf.quick_form(opti_chasse_form, form_type="basic") }}
    {% if opti_chasse_form.result %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Quantité à chasser</th>
          <th scope="col">Difficulté estimée</th>
          <th scope="col">Fdf à envoyer</th>
        </tr>
      </thead>
      <tbody>
        {% for qte, dif, fdf in opti_chasse_form.result["data"] %}
        <tr>
          <td scope="row"> {{ loop.index0 + 1 }} </td>
          <td> {{qte}} </td>
          <td> {{dif}} </td>
          <td> {{fdf}}</td>
        </tr>
        {% endfor %}
        <tr class="table-success">
          <td scope="row">Total</td>
          <td> {{opti_chasse_form.result["total"][0]}} </td>
          <td> {{opti_chasse_form.result["total"][1]}} </td>
          <td> {{opti_chasse_form.result["total"][2]}} </td>
        </tr>
      </tbody>
    </table>
    {% endif %}
{% endblock %}

<<!--html>
    <head>
        <title>Calculateur de chasse - Microblog</title>
    </head>
    <body>
        <h1>Calculateur de difficulté de chasse pour NAW!</h1>
        {{ quick_form(chasse_form)}}

&lt;!&ndash;        <form action="" method="post" novalidate>
            {{ chasse_form.hidden_tag() }}
            <p>
                {{ chasse_form.initial.label }}<br>
                {{ chasse_form.initial(size=32) }}
            </p>
            <p>
                {{ chasse_form.chasse.label }}<br>
                {{ chasse_form.chasse(size=32) }}
            </p>
            <p>{{ chasse_form.submit() }}</p>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </form>
        <form action="" method="post" novalidate>
            {{ opti_chasse_form.hidden_tag() }}
            <p>
                {{ opti_chasse_form.initial.label }}<br>
                {{ opti_chasse_form.initial(size=32) }}
            </p>
            <p>
                {{ opti_chasse_form.fdf.label }}<br>
                {{ opti_chasse_form.fdf(size=32) }}
            </p>
            <p>{{ opti_chasse_form.submit() }}</p>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </form>&ndash;&gt;
    </body>
</html>
-->