{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Calculs de guerre - NAW{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
</div>
{% endblock %}

{% block content %}
    <h3>Duree d'attaque</h3>
    {{ wtf.quick_form(duree_form, form_type="basic", button_map={'submit': 'primary'})}}
    {{ duree_form.result }}
{% endblock %}

<<!--html>
    <head>
        <title>Calculateur de chasse - Microblog</title>
    </head>
    <body>
        <h1>Calculateur de difficulté de chasse pour NAW!</h1>
        {{ quick_form(chasse_form)}}

&lt;!&ndash;        <form action="" method="post" novalidate>
            {{ chasse_form.hidden_tag() }}
            <p>
                {{ chasse_form.initial.label }}<br>
                {{ chasse_form.initial(size=32) }}
            </p>
            <p>
                {{ chasse_form.chasse.label }}<br>
                {{ chasse_form.chasse(size=32) }}
            </p>
            <p>{{ chasse_form.submit() }}</p>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </form>
        <form action="" method="post" novalidate>
            {{ opti_chasse_form.hidden_tag() }}
            <p>
                {{ opti_chasse_form.initial.label }}<br>
                {{ opti_chasse_form.initial(size=32) }}
            </p>
            <p>
                {{ opti_chasse_form.fdf.label }}<br>
                {{ opti_chasse_form.fdf(size=32) }}
            </p>
            <p>{{ opti_chasse_form.submit() }}</p>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </form>&ndash;&gt;
    </body>
</html>
-->